* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head_wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  /* background: linear-gradient(95deg, #5d0e41, #a0153e); */
  background-color: #0c0c0c;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 1rem;
  align-items: center;
  width: 100vw;
}

.head_tape {
  height: 20px;
  width: 100%;
  background-size: 20%;
  background-image: url(../../images/tape.png);
  animation: tape 20s linear infinite;
}

#logo {
  margin-left: 20px;
  width: 60px;
  cursor: pointer;
  -webkit-user-drag: none;
  transition: 0.5s;
}

#logo:hover {
  transition: 0.5s;
  transform: rotate(45deg);
  filter: drop-shadow(0 0 50px #ff0);
}

input {
  background: url(../../images/search.png);
  background-repeat: no-repeat;
  background-position: 97%;
  height: 45px;
  width: 400px;
  border-radius: 22.5px;
  padding-left: 20px;
  background-color: #2c2b44;
  border: none;
  color: white;
  font-size: 16px;
  padding-right: 50px;
  outline: none;
}

input:hover,
input:focus {
  transition: outline-color 0.6s;
  color: white;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #ff0;
}

input::placeholder {
  color: #b7b7b7;
}

.botoes {
  margin-right: 20px;
}

svg {
  color: #fff;
}

.icon:hover {
  transition: background-color 0.2s;
  background-color: #b7b7b75e;
  border-radius: 10px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

@keyframes tape {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
