body {
  background-color: rgb(0, 0, 0);
  /* background: url(../../public/images/bg.webp); */
  background-size: 100%;
  height: 100%;
  min-height: 100%;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  color: white;
}

/* Header Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head_wrapper {
  z-index: 10;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}

.head {
  /* background: linear-gradient(95deg, #5d0e41, #a0153e); */
  background-color: #0c0c0c;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 1rem;
  align-items: center;
  width: 100vw;
}

#head_logo {
  margin-left: 20px;
  width: 60px;
  cursor: pointer;
  -webkit-user-drag: none;
  transition: 0.5s;
}

#head_logo:hover {
  transition: 0.5s;
  transform: rotate(45deg);
  filter: drop-shadow(0 0 50px #ff0);
}

.search-bar {
  background: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: 97%;
  height: 45px;
  width: 400px;
  border-radius: 22.5px;
  padding-left: 20px;
  background-color: #2c2b44;
  border: none;
  color: white;
  font-size: 16px;
  padding-right: 50px;
  outline: none;
}

input:hover,
input:focus {
  transition: outline-color 0.6s;
  color: white;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #ff0;
}

input::placeholder {
  color: #b7b7b7;
}

.head_botoes {
  margin-right: 20px;
}

svg {
  color: #fff;
}

.head_icon:hover {
  transition: background-color 0.2s;
  background-color: #b7b7b75e;
  border-radius: 10px;
}

.head_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

@keyframes tape {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

/* Carousel Style */

#car_wrapper {
  display: flex;
  justify-content: center;
  /* gap: 1rem; */
  background-color: #0c0c0c;
  height: fit-content;
  padding: 0 50px;
  padding-bottom: 30px;
  user-select: none;
}

.car_XLsqr {
  /* border: solid black 1px; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  flex: 2.5;
}

.car_XLsqr > span {
  display: block;
  height: 492px;
  /* width: 100%; */
}

.car_Links {
  margin: 20px 0;
  right: auto;
  left: auto;
  position: absolute;
  display: block;
  background-color: black;
  opacity: 0.01;
  width: 90%;
  height: 90%;
  z-index: 10;
  -webkit-user-drag: none;
}

.car_Ssqrs {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 35px 0;
}

.car_Ssqr {
  flex: 1;
  height: 50%;
  margin: 0 -30px;
  position: relative;
}

.car_bannerLinkS {
  top: 0;
  position: absolute;
  display: block;
  background-color: black;
  opacity: 0.01;
  width: 314px;
  height: 200px;
  z-index: 10;
  -webkit-user-drag: none;
}

/* Footer Style */

#foo_wrapper {
  /* position: fixed; */
  bottom: 0;
  color: white;
  background-color: #0c0c0c;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  /* height: 100px; */
  /* padding-bottom: 20px; */
}

.foo_content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100vw;
  padding: 32px 65px;
}

.foo_logo {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  width: 140px;
  height: 40px;
  background-color: yellow;
  color: black;
}

.foo_left {
  max-width: 400px;
  font-size: 16px;
}
.foo_right {
  gap: 1rem;
  align-items: flex-end;
  text-align: end;
  max-width: 400px;
}

.foo_right > h3 {
  color: yellow;
}

p > span {
  font-weight: bold;
  color: yellow;
}

h3:visited {
  text-decoration: none;
}

/* Estilo Tape */

.tape {
  height: 20px;
  width: 100%;
  background-size: 20%;
  background-image: url(../images/tape.png);
  animation: tape 20s linear infinite;
}

/* Estilo Home */

.page_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #0c0c0c;
  text-align: center;
}

/* Estilo Catalogo/coleção */

.catlog_page {
  display: flex;
}
.titulo_catlog{
  color: white;
  text-align: center;
  background: #0c0c0c;
  padding: 20px;
 
}
.catlog_content {
  display: flex;
  gap: 2rem;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: #0c0c0c;
  height: 300px;
  width: 100px;
}

.slider_colecao {
  gap: 2rem;
  display: flex;
  overflow: visible;
  /* color: white; */
}
.slider_item {
  padding: 15px 10px 15px 10px;
  display: flex;
  background-color: #1f1f2d;
  background: radial-gradient(#2c2c42 ,#0c0c0c );
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  transition: 0.7s;
  border-radius: 25px;
}
.slider_item:hover {
  flex: auto;
  transition: 0.9s;
  transform: scale(1.07);
  margin: 0 ;
}
.slider_item_content {
  flex: 1;
  color: white;
  text-align: center;
  max-width: 500px;
  width: 250px;
}

/*css pag do mangá*/
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #1c1c1c; /* Cor de fundo mais escura */
}
p{
  user-select: none;
}
.background {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.blur-layer {
  background-image: url('https://cdn.marvel.com/u/prod/marvel/i/mg/f/60/5beda67b7e1c5/clean.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(13px); /* Adiciona o desfoque à imagem de fundo */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}



.content-layer {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.issue-title {
  margin-top: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
}

.issue {
  display: flex;
  align-items: center;
}

.issue-cover {
  width: 300px; /* Aumenta a imagem do quadrinho */
  height: 450px;
  margin-right: 20px;
  border-radius: 20px; /* Arredonda a imagem do quadrinho */
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-box {
  background: #2C2B44; /* Fundo mais escuro */
  color: white; /* Texto branco para contraste */
  padding: 20px;
  margin: 10px;
  border-radius: 40px;
  border: 2px solid yellow; /* Margem amarela */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 300px;
}

.volumes-box {
  background: #2C2B44; /* Fundo mais escuro */
  color: white; /* Texto branco para contraste */
  padding: 20px;
  margin: 10px;
  border-radius: 40px;
  border: 2px solid yellow; /* Margem amarela */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 570px; /* Aumenta a altura da caixa dos volumes */
  position: absolute;
  top: 300px;
  right: -50px;
  transform: translateY(-50%);
}

.volumes-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.volume {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volume-cover {
  width: 80px;
  height: 120px;
  border-radius: 10px;
}

.synopsis-box {
  background: linear-gradient(to bottom, #ffeb3b, #fbc02d); /* Fundo amarelo com gradiente */
  color: black; /* Texto preto para contraste */
  padding: 20px;
  margin: 10px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para efeito 3D */
  width: 80%; /* Estende a caixa de sinopse */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authors-box {
  background: #2C2B44; /* Fundo mais escuro */
  color: rgb(255, 255, 255); /* Texto branco para contraste */
  padding: 20px;
  margin: 10px;
  border-radius: 40px;
  border: 2px solid yellow; /* Margem amarela */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 80%; /* Estende a caixa de autores */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authors-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-align: center;
}

.author img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

/* CSS da Pagina de Login */

.conteiner-login-fundo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteiner-login {
  background-color: grey;
  width: 20vw;
  height: 50vh;
  margin: 50px 0 90px 0;
  text-align: center;
  color: white;
  border-radius: 30px;
  border: #ffec43 solid 5px;
}

.tittle-login{
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;

}

.text-bar-login {
  background-color: #2C2B44;
  height: 30px;
  width: 80%;
  font-size: 20px;
  color: white;
}