body {
  background-color: rgb(0, 0, 0);
  /* background: url(../../public/images/bg.webp); */
  background-size: 100%;
  height: 100%;
  min-height: 100%;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  color: white;
}

/* Header Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head_wrapper {
  z-index: 10;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}

.head {
  /* background: linear-gradient(95deg, #5d0e41, #a0153e); */
  background-color: #0c0c0c;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 1rem;
  align-items: center;
  width: 100vw;
}

#head_logo {
  margin-left: 20px;
  width: 60px;
  cursor: pointer;
  -webkit-user-drag: none;
  transition: 0.5s;
}

#head_logo:hover {
  transition: 0.5s;
  transform: rotate(45deg);
  filter: drop-shadow(0 0 50px #ff0);
}

input {
  background: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: 97%;
  height: 45px;
  width: 400px;
  border-radius: 22.5px;
  padding-left: 20px;
  background-color: #2c2b44;
  border: none;
  color: white;
  font-size: 16px;
  padding-right: 50px;
  outline: none;
}

input:hover,
input:focus {
  transition: outline-color 0.6s;
  color: white;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #ff0;
}

input::placeholder {
  color: #b7b7b7;
}

.head_botoes {
  margin-right: 20px;
}

svg {
  color: #fff;
}

.head_icon:hover {
  transition: background-color 0.2s;
  background-color: #b7b7b75e;
  border-radius: 10px;
}

.head_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

@keyframes tape {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

/* Carousel Style */

#car_wrapper {
  display: flex;
  justify-content: center;
  /* gap: 1rem; */
  background-color: #0c0c0c;
  height: fit-content;
  padding: 0 50px;
  padding-bottom: 30px;
  user-select: none;
}

.car_XLsqr {
  /* border: solid black 1px; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  flex: 2.5;
}

.car_XLsqr > span {
  display: block;
  height: 492px;
  /* width: 100%; */
}

.car_Links {
  margin: 20px 0;
  right: auto;
  left: auto;
  position: absolute;
  display: block;
  background-color: black;
  opacity: 0.01;
  width: 90%;
  height: 90%;
  z-index: 10;
  -webkit-user-drag: none;
}

.car_Ssqrs {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 35px 0;
}

.car_Ssqr {
  flex: 1;
  height: 50%;
  margin: 0 -30px;
  position: relative;
}

.car_bannerLinkS {
  top: 0;
  position: absolute;
  display: block;
  background-color: black;
  opacity: 0.01;
  width: 314px;
  height: 200px;
  z-index: 10;
  -webkit-user-drag: none;
}

/* Footer Style */

#foo_wrapper {
  /* position: fixed; */
  bottom: 0;
  color: white;
  background-color: #0c0c0c;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  /* height: 100px; */
  /* padding-bottom: 20px; */
}

.foo_content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100vw;
  padding: 32px 65px;
}

.foo_logo {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  width: 140px;
  height: 40px;
  background-color: yellow;
  color: black;
}

.foo_left {
  max-width: 400px;
  font-size: 16px;
}
.foo_right {
  gap: 1rem;
  align-items: flex-end;
  text-align: end;
  max-width: 400px;
}

.foo_right > h3 {
  color: yellow;
}

p > span {
  font-weight: bold;
  color: yellow;
}

h3:visited {
  text-decoration: none;
}

/* Estilo Tape */

.tape {
  height: 20px;
  width: 100%;
  background-size: 20%;
  background-image: url(../images/tape.png);
  animation: tape 20s linear infinite;
}

/* Estilo Home */

.page_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #0c0c0c;
  text-align: center;
}

/* Estilo SingleComic */
