#foo-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  bottom: 0;
  left: 0;
  right: 0;
  /* text-align: center; */
  color: white;
  /* background: linear-gradient(95deg, #5d0e41, #a0153e); */
  border-top: 3px solid yellow;
  background-color: #0c0c0c;
  padding: 32px 65px;
}

#foo-wrapper > * {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}

.app-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  width: 140px;
  height: 40px;
  background-color: yellow;
  color: black;
}

.left {
  max-width: 400px;
  font-size: 16px;
}
.right {
  gap: 1rem;
  align-items: flex-end;
  text-align: end;
  max-width: 400px;
}

.right > h3 {
  color: yellow;
}

p > span {
  font-weight: bold;
  color: yellow;
}
